<div id="LoginForm">
  <div class="container">
    <h1 class="text-primary form-heading">Welcome to MA[Va_ ]</h1>
    <div class="login-form">
      <div class="main-div">
        <div class="panel text-primary">
          <h2>Login Page</h2>
          <p>Please enter your ID and password</p>
        </div>
          <div class="form-group">
            <input type="text" #id required class="form-control" id="inputEmail" placeholder="ID">
          </div>
          <div class="form-group">
            <input type="password" (keyup.enter)="login(id,pass)" #pass required class="form-control" id="inputPassword" placeholder="Password">
          </div>
          <button ng-disabled=!id.valid (click)="login(id,pass)" class="btn btn-primary glyphicon glyphicon-log-in"> Login</button>
          <h3 class="text-danger" id="display"></h3>
      </div>
    </div>
  </div>
</div>